<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.okimall.mappers.MemberMapper">
	
	<select id="getTime" resultType="String">
		select sysdate from dual
	</select>
	
	<!-- MemberVO -->
	<select id="readUser" parameterType="string" resultType="MemberVO">
		select mb_id, mb_name, mb_epost, mb_addr, mb_daddr, mb_nick, mb_email,
			   mb_phone, mb_age, mb_point, mb_joindate, mb_revdate, mb_lasttime
		from member_tb
		where mb_id = #{mb_id}
	</select>
	
	<!-- 회원가입 -->
	<insert id="join" parameterType="MemberVO">
		insert into member_tb(mb_id, mb_pw, mb_name, mb_epost, mb_addr, mb_daddr, mb_nick, mb_email, mb_phone, mb_age)
		values(#{mb_id}, #{mb_pw}, #{mb_name}, #{mb_epost}, #{mb_addr}, #{mb_daddr}, #{mb_nick}, #{mb_email}, #{mb_phone}, #{mb_age})
	</insert>
	
	<!-- 아이디중복체크 -->
	<select id="idcheck" parameterType="string" resultType="int">
		select count(*) 
		from member_tb
		where mb_id = #{mb_id}
	</select>
	
	<!-- 회원수정 -->
	<update id="modifyUser" parameterType="MemberVO">
		update member_tb
		set mb_id=#{mb_id}, mb_name=#{mb_name}, mb_epost=#{mb_epost}, mb_addr=#{mb_addr}, mb_daddr=#{mb_daddr}, 
			mb_nick=#{mb_nick}, mb_email=#{mb_email}, mb_phone=#{mb_phone}, mb_age=#{mb_age}, mb_revdate=sysdate
		where mb_id=#{mb_id}
	</update>
	
	<!-- 비밀번호 변경 -->
	<update id="changePw" parameterType="MemberDTO">
		update member_tb
		set mb_pw = #{mb_pw}
		where mb_id = #{mb_id}
	</update>
	
	<!-- 회원 탈퇴 -->
	<delete id="deleteUser" parameterType="String">
		delete from member_tb
		where mb_id = #{mb_id}
	</delete>
	
	<!-- 로그인 -->
	<select id="login" parameterType="MemberDTO" resultType="MemberDTO">
		select mb_id, mb_pw, mb_name, mb_nick, mb_point, mb_lasttime
		from member_tb
		where mb_id = #{mb_id}
	</select>
	
	<!-- 로그인 시간 업데이트 -->
	<update id="loginupdate" parameterType="String">
		update member_tb
		set mb_lasttime = sysdate
		where mb_id = #{mb_id}
	</update>
	
	<!-- 회원 조회 -->
	<select id="memberRead" parameterType="Criteria" resultType="MemberVO">
		select mb_id, mb_nick, mb_age, mb_email, mb_point, mb_joindate, mb_lasttime
		from member_tb
		order by mb_joindate desc
	</select>

</mapper>